name: Publish

permissions:
  id-token: write
  contents: read

on:
  release:
    types:
      - released

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JoostWG/actions/npm-publish@master
